:host {
  display: grid;
  grid-template-columns: 8rem auto 6rem 8rem;
  grid-gap: 1rem;
  align-items: center;
  padding: 0.5rem 2rem;
  font-size: 0.75rem;
  background-color: white;
  border-radius: 0.3rem;
  box-shadow: 1px -1px 1px 1px rgba(0,0,0,0.75);
  cursor: pointer;

  &:hover {
    background-color: darken(white, 5%);
  }
}

.city {
  justify-self: center;
}

.company {
  font-weight: bold;
  font-size: 0.6rem;
}

.title {
  color: #4ea6c3;
}

.salary {
  color: #cacaca;
  font-size: 0.6rem;
}
